.picture {
    height: 550px;
    width: 100%;
    position: absolute;
    left: 350px;
}
.painArea{
	animation-name: show;
	animation-duration: 4s;
}
@keyframes show {
  0%   {background-color: rgba(0,0,0,0.00);}
  50%  {background-color: orangered;}
  100%  {background-color: rgba(0,0,0,0.00);}
}
.painArea:hover {
	transition: background-color 1s;
    background-color: orangered;
}

.btn_head {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    width: 35px;
    height: 50px;
    left: 150px;
    top: 50px;
    border-radius: 60%;
	animation-delay : 0s;
}

.btn_chest_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 70px;
    left: 127px;
    top: 125px;
    width: 30px;
	animation-delay : 0.5s;
}

.btn_chest_m {
    border-style: none; 
    border-color: inherit; 
    border-width: medium; 
    background-color: transparent; 
    position: absolute; 
    height: 70px; 
    left: 157px; 
    top: 125px; 
    width: 30px;
	animation-delay : 0.7s;
}

.btn_chest_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 70px;
    left: 187px;
    top: 125px;
    width: 30px;
	animation-delay : 0.8s;
}

.btn_abd_RVQ {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 37px;
    left: 133px;
    top: 195px;
    width: 35px;
	animation-delay : 1.5s;
}

.btn_abd_LVQ {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 37px;
    left: 168px;
    top: 195px;
    width: 35px;
	animation-delay : 1.7s;
}

.btn_abd_RLQ {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 37px;
    left: 133px;
    top: 232px;
    width: 35px;
	animation-delay : 1.9s;
}

.btn_abd_LLQ {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 37px;
    left: 168px;
    top: 232px;
    width: 35px;
	animation-delay : 2.1s;
}

.btn_hip {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 34px;
    left: 130px;
    top: 269px;
    width: 80px;
	animation-delay : 2.6s;
}

.btn_thigh_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 70px;
    left: 130px;
    top: 303px;
    width: 38px;
    border-radius: 60%;
	animation-delay : 3.1s;
}

.btn_thigh_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 75px;
    left: 168px;
    top: 303px;
    width: 38px;
    border-radius: 60%;
	animation-delay : 3.3s;
}

.btn_shin_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 95px;
    left: 137px;
    top: 378px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 3.5s;
}

.btn_shin_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 100px;
    left: 174px;
    top: 378px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 3.7s;
}

.btn_sole_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 40px;
    left: 140px;
    top: 478px;
    width: 28px;
    border-radius: 40%;
	animation-delay : 4.2s;
}
.btn_sole_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 40px;
    left: 174px;
    top: 478px;
    width: 28px;
    border-radius: 40%;
	animation-delay : 4.4s;
}


.rotate_l {
    transform: rotate(11deg);
}

.rotate_r {
    transform: rotate(-11deg);
}

.btn_arm_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 78px;
    left: 30px;
    top: -320px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 2.1s;
}

.btn_back_arm_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 78px;
    left: 305px;
    top: -370px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 2.1s;
}

.btn_arm_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 78px;
    left: 300px;
    top: -530px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 1.4s;
}

.btn_back_arm_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 78px;
    left: 570px;
    top: -480px;
    width: 28px;
    border-radius: 60%;
	animation-delay : 1.4s;
}

.back_r {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 140px;
    left: 410px;
    top: 125px;
    width: 30px;
	animation-delay : 0.5s;
}

.back_m {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 140px;
    left: 435px;
    top: 125px;
    width: 30px;
	animation-delay : 0.7s;
}

.back_l {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 140px;
    left: 455px;
    top: 125px;
    width: 30px;
	animation-delay : 0.7s;
}

.back_leg_left {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 70px;
    left: 450px;
    top: 300px;
    width: 30px;
    border-radius: 60%;
	animation-delay : 3.1s;
}

.back_leg_right {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 70px;
    left: 415px;
    top: 300px;
    width: 30px;
    border-radius: 60%;
	animation-delay : 3.2s;
}

.back_leg_right_d {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 80px;
    left: 415px;
    top: 390px;
    width: 30px;
    border-radius: 60%;
	animation-delay : 3.3s;
}

.back_leg_left_d {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 80px;
    left: 450px;
    top: 390px;
    width: 30px;
    border-radius: 60%;
	animation-delay : 3.4s;
}

.left_heel {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 20px;
    left: 450px;
    top: 488px;
    width: 10px;
	animation-delay : 3.9s;
}

.right_heel {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    position: absolute;
    height: 20px;
    left: 432px;
    top: 488px;
    width: 10px;
	animation-delay : 4.1s;
}

#introGif {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 0px;
	animation-name: hide;
	animation-duration: 14s;
	animation-delay: 7s;
	
}
@keyframes hide {
  0%   {height: 0px;}
  1%  {height:600px;}
  99%  {height: 600px;}
  100% {height: 0px;}
}


.btn-primary_f {
  position: absolute;
  top: 0px;
  left: 80px;
}

.btn-primary_m {
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn-primary_b {
  position: absolute;
  top:0px;
  left:240px;
}

.btn-primary3 {
  position: absolute;
  top: 0px;
  left: 1000px;
}

.btn-primary4 {
  position: absolute;
  top: 150px;
  left: 1000px;
}

.btn-primary5 {
  position: absolute;
  top: 300px;
  left: 1000px;
}

.btn-primary6 {
  position: absolute;
  top: 450px;
  left: 1000px;
}


.addition {
  height:100px;
}

.btn-primary_t {
  position: absolute;
  top: 0px;
  left: 160px;
}
